body {
	display: flex;
	min-height: 100vh;
	flex-direction: column;
}

main {
	flex: 1 0 auto;
}

.project-list {
	display: flex;
	overflow-x: scroll;
	overflow-y: hidden;
}
.project-list > .project {
	margin-left: 0px !important;
}