body {
	display: flex;
	min-height: 100vh;
	flex-direction: column;
}

main {
	flex: 1 0 auto;
}

blockquote {
	border-left-color: #9fa8da; /*indigo */
}

.small {
	font-size: 50%;
}

.project-list {
	display: flex;
	overflow-y: hidden;
}
.project-list > .project {
	margin-left: 0px !important;
}